version: "3.9"

services:
  node-exporter:
    image: {{ node_exporter.image }}
    container_name: {{ docker.network.name }}-node-exporter
    hostname: node-exporter
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      - {{ docker.network.name }} 
    ports:
      - {{ node_exporter.port }}:9100

networks:
  {{ docker.network.name }}:
    external: true
    name: {{ docker.network.name }}
